.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.750000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.768066;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.500000,0.000000,0.000000,0.500000,0,0);-ms-transform:matrix(0.500000,0.000000,0.000000,0.500000,0,0);-webkit-transform:matrix(0.500000,0.000000,0.000000,0.500000,0,0);}
.m1{transform:matrix(2.000000,0.000000,0.000000,2.000000,0,0);-ms-transform:matrix(2.000000,0.000000,0.000000,2.000000,0,0);-webkit-transform:matrix(2.000000,0.000000,0.000000,2.000000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:12.517000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(34,34,34),0 0.015em rgb(34,34,34),0.015em 0 rgb(34,34,34),0 -0.015em  rgb(34,34,34);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(34,34,34);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{display:inline;margin-left:-5.435480px;}
._1{display:inline-block;width:2.196760px;}
._7{display:inline-block;width:34.452000px;}
._8{display:inline-block;width:36.832000px;}
._4{display:inline-block;width:86.132840px;}
._2{display:inline-block;width:92.951960px;}
._9{display:inline-block;width:97.161840px;}
._0{display:inline-block;width:98.568000px;}
._5{display:inline-block;width:111.920000px;}
._a{display:inline-block;width:215.029400px;}
._c{display:inline-block;width:532.912600px;}
._b{display:inline-block;width:894.304520px;}
._6{display:inline-block;width:973.696520px;}
.fc4{color:rgb(51,51,51);}
.fc3{color:rgb(0,118,203);}
.fc5{color:rgb(0,50,131);}
.fc2{color:rgb(102,102,102);}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(34,34,34);}
.fs3{font-size:24.000000px;}
.fs4{font-size:32.000000px;}
.fs2{font-size:36.000000px;}
.fs0{font-size:48.000000px;}
.fs1{font-size:80.000000px;}
.y0{bottom:0.000000px;}
.y49{bottom:83.780240px;}
.y9{bottom:83.780260px;}
.y58{bottom:83.780320px;}
.yb{bottom:84.124800px;}
.y9a{bottom:84.924720px;}
.y15{bottom:100.524780px;}
.ya{bottom:100.524800px;}
.y39{bottom:100.524820px;}
.y99{bottom:102.924720px;}
.y98{bottom:120.924720px;}
.y97{bottom:138.924720px;}
.y96{bottom:156.924720px;}
.y95{bottom:174.924720px;}
.y94{bottom:192.924720px;}
.y50{bottom:208.000000px;}
.y93{bottom:210.924720px;}
.y26{bottom:219.000000px;}
.y57{bottom:223.405920px;}
.y92{bottom:228.924720px;}
.y91{bottom:246.924720px;}
.y90{bottom:264.924720px;}
.y8f{bottom:282.924720px;}
.y8e{bottom:300.924720px;}
.y8d{bottom:318.924720px;}
.y8c{bottom:336.924720px;}
.y8b{bottom:354.924720px;}
.y46{bottom:357.000000px;}
.y8a{bottom:372.924720px;}
.y48{bottom:373.579140px;}
.y89{bottom:390.924720px;}
.y4a{bottom:404.000000px;}
.y59{bottom:406.000000px;}
.y88{bottom:408.924720px;}
.y6c{bottom:421.480740px;}
.y87{bottom:426.924720px;}
.y86{bottom:444.924720px;}
.y85{bottom:462.924720px;}
.y84{bottom:480.924720px;}
.y16{bottom:629.000000px;}
.y38{bottom:673.820900px;}
.y3b{bottom:679.000000px;}
.y6d{bottom:697.000000px;}
.y45{bottom:698.370400px;}
.y37{bottom:699.820900px;}
.y6e{bottom:712.644500px;}
.y44{bottom:724.370400px;}
.y36{bottom:725.820900px;}
.y82{bottom:730.239720px;}
.y81{bottom:746.239720px;}
.y43{bottom:753.370400px;}
.y35{bottom:754.820900px;}
.y80{bottom:762.239720px;}
.y7f{bottom:778.239720px;}
.y42{bottom:779.370400px;}
.y34{bottom:780.820900px;}
.y33{bottom:806.820900px;}
.y41{bottom:808.370400px;}
.y3a{bottom:817.000000px;}
.y7e{bottom:820.794420px;}
.y56{bottom:823.480740px;}
.y32{bottom:832.820900px;}
.y40{bottom:834.370400px;}
.y4f{bottom:856.420880px;}
.y31{bottom:858.820900px;}
.y47{bottom:859.420880px;}
.y3f{bottom:860.370400px;}
.y6f{bottom:865.000000px;}
.y6b{bottom:866.311320px;}
.y7d{bottom:879.239720px;}
.y70{bottom:881.272000px;}
.y4e{bottom:882.420880px;}
.y30{bottom:887.820900px;}
.y6a{bottom:892.311320px;}
.y7c{bottom:897.239720px;}
.y4d{bottom:908.420880px;}
.y2f{bottom:913.820900px;}
.y7b{bottom:915.239720px;}
.y69{bottom:921.311280px;}
.y25{bottom:925.951320px;}
.y4c{bottom:937.420880px;}
.y68{bottom:947.311280px;}
.y24{bottom:948.631320px;}
.y7a{bottom:958.794420px;}
.y4b{bottom:963.420880px;}
.y23{bottom:971.311320px;}
.y67{bottom:973.311280px;}
.y22{bottom:993.991320px;}
.y20{bottom:997.591300px;}
.y66{bottom:1002.311280px;}
.y21{bottom:1016.671320px;}
.y79{bottom:1017.239720px;}
.y1f{bottom:1020.271300px;}
.y65{bottom:1028.311280px;}
.y78{bottom:1035.239720px;}
.y77{bottom:1053.239720px;}
.y64{bottom:1054.311280px;}
.y1e{bottom:1055.951300px;}
.y1d{bottom:1055.951320px;}
.y63{bottom:1080.311280px;}
.y1c{bottom:1087.791300px;}
.y76{bottom:1096.794420px;}
.y62{bottom:1109.311280px;}
.y14{bottom:1116.186900px;}
.y1b{bottom:1130.217080px;}
.y61{bottom:1135.311280px;}
.y13{bottom:1142.186900px;}
.y75{bottom:1155.239720px;}
.y1a{bottom:1156.217080px;}
.y60{bottom:1164.311280px;}
.y12{bottom:1168.186900px;}
.y74{bottom:1173.239720px;}
.y5f{bottom:1190.311280px;}
.y73{bottom:1191.239720px;}
.y19{bottom:1193.017080px;}
.y4{bottom:1203.066760px;}
.yc{bottom:1207.000000px;}
.y11{bottom:1207.686900px;}
.y72{bottom:1209.239720px;}
.y5e{bottom:1219.311300px;}
.y18{bottom:1222.017080px;}
.y5d{bottom:1245.311300px;}
.y10{bottom:1248.017080px;}
.y3{bottom:1251.066760px;}
.y71{bottom:1252.794420px;}
.y8{bottom:1255.517080px;}
.y55{bottom:1268.311300px;}
.y5c{bottom:1271.311300px;}
.yf{bottom:1274.017080px;}
.y17{bottom:1287.517080px;}
.y54{bottom:1294.311300px;}
.y5b{bottom:1297.311300px;}
.y7{bottom:1305.517080px;}
.ye{bottom:1313.517080px;}
.y53{bottom:1320.311300px;}
.y5a{bottom:1323.311300px;}
.y2b{bottom:1323.911280px;}
.y52{bottom:1349.311300px;}
.y2a{bottom:1349.911280px;}
.y3e{bottom:1352.311280px;}
.y51{bottom:1375.311300px;}
.y29{bottom:1375.911280px;}
.y2e{bottom:1378.311280px;}
.y3d{bottom:1386.891280px;}
.y28{bottom:1401.911280px;}
.y2d{bottom:1404.311280px;}
.y2c{bottom:1404.311300px;}
.y3c{bottom:1409.571280px;}
.y6{bottom:1444.200660px;}
.y27{bottom:1445.251280px;}
.yd{bottom:1448.200660px;}
.y2{bottom:1495.825920px;}
.y1{bottom:1525.825920px;}
.y83{bottom:1527.825940px;}
.y5{bottom:1593.000000px;}
.h4{height:12.000000px;}
.h7{height:18.093750px;}
.h6{height:18.117188px;}
.he{height:24.000000px;}
.hc{height:24.125000px;}
.hb{height:24.156250px;}
.h5{height:27.140625px;}
.h9{height:27.175781px;}
.h17{height:36.187500px;}
.h2{height:36.234375px;}
.h3{height:60.312500px;}
.h8{height:398.000000px;}
.h16{height:740.000000px;}
.hf{height:788.000000px;}
.h15{height:908.000000px;}
.h10{height:926.000000px;}
.ha{height:976.000000px;}
.h14{height:1199.000000px;}
.h12{height:1201.000000px;}
.h11{height:1248.000000px;}
.hd{height:1386.000000px;}
.h13{height:1397.000000px;}
.h0{height:1683.779540px;}
.h1{height:1684.000000px;}
.w2{width:935.000000px;}
.w3{width:936.000000px;}
.w5{width:937.000000px;}
.w4{width:938.000000px;}
.w0{width:1190.551260px;}
.w1{width:1191.000000px;}
.x0{left:0.000000px;}
.x1{left:73.700800px;}
.x2{left:85.000000px;}
.x7{left:91.031420px;}
.x8{left:119.057440px;}
.x15{left:141.732300px;}
.x5{left:170.000000px;}
.xd{left:176.578760px;}
.x9{left:304.622080px;}
.xa{left:310.622080px;}
.xb{left:338.638080px;}
.x17{left:344.638080px;}
.x18{left:372.654080px;}
.x19{left:378.654080px;}
.xe{left:395.661460px;}
.x1a{left:406.670120px;}
.xf{left:423.677460px;}
.x10{left:429.677460px;}
.x1b{left:444.974060px;}
.x11{left:457.693400px;}
.x1d{left:463.693420px;}
.x1e{left:491.709400px;}
.x1c{left:521.470080px;}
.x13{left:544.878060px;}
.x14{left:553.246080px;}
.x20{left:601.677460px;}
.x16{left:626.301460px;}
.x23{left:748.346560px;}
.x22{left:755.168280px;}
.x3{left:758.360260px;}
.xc{left:935.888280px;}
.x4{left:972.416260px;}
.x21{left:1092.535120px;}
.x1f{left:1094.515120px;}
.x6{left:1098.031120px;}
.x12{left:1099.039120px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:8.344667pt;}
.ws0{word-spacing:0.000000pt;}
._3{display:inline;margin-left:-3.623653pt;}
._1{display:inline-block;width:1.464507pt;}
._7{display:inline-block;width:22.968000pt;}
._8{display:inline-block;width:24.554667pt;}
._4{display:inline-block;width:57.421893pt;}
._2{display:inline-block;width:61.967973pt;}
._9{display:inline-block;width:64.774560pt;}
._0{display:inline-block;width:65.712000pt;}
._5{display:inline-block;width:74.613333pt;}
._a{display:inline-block;width:143.352933pt;}
._c{display:inline-block;width:355.275067pt;}
._b{display:inline-block;width:596.203013pt;}
._6{display:inline-block;width:649.131013pt;}
.fs3{font-size:16.000000pt;}
.fs4{font-size:21.333333pt;}
.fs2{font-size:24.000000pt;}
.fs0{font-size:32.000000pt;}
.fs1{font-size:53.333333pt;}
.y0{bottom:0.000000pt;}
.y49{bottom:55.853493pt;}
.y9{bottom:55.853507pt;}
.y58{bottom:55.853547pt;}
.yb{bottom:56.083200pt;}
.y9a{bottom:56.616480pt;}
.y15{bottom:67.016520pt;}
.ya{bottom:67.016533pt;}
.y39{bottom:67.016547pt;}
.y99{bottom:68.616480pt;}
.y98{bottom:80.616480pt;}
.y97{bottom:92.616480pt;}
.y96{bottom:104.616480pt;}
.y95{bottom:116.616480pt;}
.y94{bottom:128.616480pt;}
.y50{bottom:138.666667pt;}
.y93{bottom:140.616480pt;}
.y26{bottom:146.000000pt;}
.y57{bottom:148.937280pt;}
.y92{bottom:152.616480pt;}
.y91{bottom:164.616480pt;}
.y90{bottom:176.616480pt;}
.y8f{bottom:188.616480pt;}
.y8e{bottom:200.616480pt;}
.y8d{bottom:212.616480pt;}
.y8c{bottom:224.616480pt;}
.y8b{bottom:236.616480pt;}
.y46{bottom:238.000000pt;}
.y8a{bottom:248.616480pt;}
.y48{bottom:249.052760pt;}
.y89{bottom:260.616480pt;}
.y4a{bottom:269.333333pt;}
.y59{bottom:270.666667pt;}
.y88{bottom:272.616480pt;}
.y6c{bottom:280.987160pt;}
.y87{bottom:284.616480pt;}
.y86{bottom:296.616480pt;}
.y85{bottom:308.616480pt;}
.y84{bottom:320.616480pt;}
.y16{bottom:419.333333pt;}
.y38{bottom:449.213933pt;}
.y3b{bottom:452.666667pt;}
.y6d{bottom:464.666667pt;}
.y45{bottom:465.580267pt;}
.y37{bottom:466.547267pt;}
.y6e{bottom:475.096333pt;}
.y44{bottom:482.913600pt;}
.y36{bottom:483.880600pt;}
.y82{bottom:486.826480pt;}
.y81{bottom:497.493147pt;}
.y43{bottom:502.246933pt;}
.y35{bottom:503.213933pt;}
.y80{bottom:508.159813pt;}
.y7f{bottom:518.826480pt;}
.y42{bottom:519.580267pt;}
.y34{bottom:520.547267pt;}
.y33{bottom:537.880600pt;}
.y41{bottom:538.913600pt;}
.y3a{bottom:544.666667pt;}
.y7e{bottom:547.196280pt;}
.y56{bottom:548.987160pt;}
.y32{bottom:555.213933pt;}
.y40{bottom:556.246933pt;}
.y4f{bottom:570.947253pt;}
.y31{bottom:572.547267pt;}
.y47{bottom:572.947253pt;}
.y3f{bottom:573.580267pt;}
.y6f{bottom:576.666667pt;}
.y6b{bottom:577.540880pt;}
.y7d{bottom:586.159813pt;}
.y70{bottom:587.514667pt;}
.y4e{bottom:588.280587pt;}
.y30{bottom:591.880600pt;}
.y6a{bottom:594.874213pt;}
.y7c{bottom:598.159813pt;}
.y4d{bottom:605.613920pt;}
.y2f{bottom:609.213933pt;}
.y7b{bottom:610.159813pt;}
.y69{bottom:614.207520pt;}
.y25{bottom:617.300880pt;}
.y4c{bottom:624.947253pt;}
.y68{bottom:631.540853pt;}
.y24{bottom:632.420880pt;}
.y7a{bottom:639.196280pt;}
.y4b{bottom:642.280587pt;}
.y23{bottom:647.540880pt;}
.y67{bottom:648.874187pt;}
.y22{bottom:662.660880pt;}
.y20{bottom:665.060867pt;}
.y66{bottom:668.207520pt;}
.y21{bottom:677.780880pt;}
.y79{bottom:678.159813pt;}
.y1f{bottom:680.180867pt;}
.y65{bottom:685.540853pt;}
.y78{bottom:690.159813pt;}
.y77{bottom:702.159813pt;}
.y64{bottom:702.874187pt;}
.y1e{bottom:703.967533pt;}
.y1d{bottom:703.967547pt;}
.y63{bottom:720.207520pt;}
.y1c{bottom:725.194200pt;}
.y76{bottom:731.196280pt;}
.y62{bottom:739.540853pt;}
.y14{bottom:744.124600pt;}
.y1b{bottom:753.478053pt;}
.y61{bottom:756.874187pt;}
.y13{bottom:761.457933pt;}
.y75{bottom:770.159813pt;}
.y1a{bottom:770.811387pt;}
.y60{bottom:776.207520pt;}
.y12{bottom:778.791267pt;}
.y74{bottom:782.159813pt;}
.y5f{bottom:793.540853pt;}
.y73{bottom:794.159813pt;}
.y19{bottom:795.344720pt;}
.y4{bottom:802.044507pt;}
.yc{bottom:804.666667pt;}
.y11{bottom:805.124600pt;}
.y72{bottom:806.159813pt;}
.y5e{bottom:812.874200pt;}
.y18{bottom:814.678053pt;}
.y5d{bottom:830.207533pt;}
.y10{bottom:832.011387pt;}
.y3{bottom:834.044507pt;}
.y71{bottom:835.196280pt;}
.y8{bottom:837.011387pt;}
.y55{bottom:845.540867pt;}
.y5c{bottom:847.540867pt;}
.yf{bottom:849.344720pt;}
.y17{bottom:858.344720pt;}
.y54{bottom:862.874200pt;}
.y5b{bottom:864.874200pt;}
.y7{bottom:870.344720pt;}
.ye{bottom:875.678053pt;}
.y53{bottom:880.207533pt;}
.y5a{bottom:882.207533pt;}
.y2b{bottom:882.607520pt;}
.y52{bottom:899.540867pt;}
.y2a{bottom:899.940853pt;}
.y3e{bottom:901.540853pt;}
.y51{bottom:916.874200pt;}
.y29{bottom:917.274187pt;}
.y2e{bottom:918.874187pt;}
.y3d{bottom:924.594187pt;}
.y28{bottom:934.607520pt;}
.y2d{bottom:936.207520pt;}
.y2c{bottom:936.207533pt;}
.y3c{bottom:939.714187pt;}
.y6{bottom:962.800440pt;}
.y27{bottom:963.500853pt;}
.yd{bottom:965.467107pt;}
.y2{bottom:997.217280pt;}
.y1{bottom:1017.217280pt;}
.y83{bottom:1018.550627pt;}
.y5{bottom:1062.000000pt;}
.h4{height:8.000000pt;}
.h7{height:12.062500pt;}
.h6{height:12.078125pt;}
.he{height:16.000000pt;}
.hc{height:16.083333pt;}
.hb{height:16.104167pt;}
.h5{height:18.093750pt;}
.h9{height:18.117188pt;}
.h17{height:24.125000pt;}
.h2{height:24.156250pt;}
.h3{height:40.208333pt;}
.h8{height:265.333333pt;}
.h16{height:493.333333pt;}
.hf{height:525.333333pt;}
.h15{height:605.333333pt;}
.h10{height:617.333333pt;}
.ha{height:650.666667pt;}
.h14{height:799.333333pt;}
.h12{height:800.666667pt;}
.h11{height:832.000000pt;}
.hd{height:924.000000pt;}
.h13{height:931.333333pt;}
.h0{height:1122.519693pt;}
.h1{height:1122.666667pt;}
.w2{width:623.333333pt;}
.w3{width:624.000000pt;}
.w5{width:624.666667pt;}
.w4{width:625.333333pt;}
.w0{width:793.700840pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x1{left:49.133867pt;}
.x2{left:56.666667pt;}
.x7{left:60.687613pt;}
.x8{left:79.371627pt;}
.x15{left:94.488200pt;}
.x5{left:113.333333pt;}
.xd{left:117.719173pt;}
.x9{left:203.081387pt;}
.xa{left:207.081387pt;}
.xb{left:225.758720pt;}
.x17{left:229.758720pt;}
.x18{left:248.436053pt;}
.x19{left:252.436053pt;}
.xe{left:263.774307pt;}
.x1a{left:271.113413pt;}
.xf{left:282.451640pt;}
.x10{left:286.451640pt;}
.x1b{left:296.649373pt;}
.x11{left:305.128933pt;}
.x1d{left:309.128947pt;}
.x1e{left:327.806267pt;}
.x1c{left:347.646720pt;}
.x13{left:363.252040pt;}
.x14{left:368.830720pt;}
.x20{left:401.118307pt;}
.x16{left:417.534307pt;}
.x23{left:498.897707pt;}
.x22{left:503.445520pt;}
.x3{left:505.573507pt;}
.xc{left:623.925520pt;}
.x4{left:648.277507pt;}
.x21{left:728.356747pt;}
.x1f{left:729.676747pt;}
.x6{left:732.020747pt;}
.x12{left:732.692747pt;}
}
